.main_block
{
  width: 960px;
  margin: 0 auto;
}

.top_block
{
  width: 960px;
  margin: 0 0 48px;
}

.quote
{
  width: 570px;
  margin: 50px 0 0;
  float: right;
  background: url('../images/quotes.png') no-repeat;/*смещение относ-о лев.верх.угла контейнера*/
}

.blockquote
{
  text-align: left;
  font: italic 28px/43px Georgia;
  margin: 68px 0 15px 60px;
  color: #848484;
}

.cite
{
  text-align: left;
  font: 600 16px/1 'Open Sans', sans-serif;
  margin: 0 0 0 64px;
  color: #000;
}

.clear
{
  clear: both;
}

.value
{
  text-decoration: underline;
}

.name_heading
{
  text-align: left;
  font: 700 48px/1 'Open Sans', sans-serif;
  margin: -7px 0 28px;
  color: #333;
}

.authors_heading
{
  color: #15a98c;
  text-align: left;
  font: 600 24px/1 'Open Sans', sans-serif;
  margin: 1px 0 16px;
}

.films_heading
{
  color: #15a98c;
  text-align: left;
  font: 600 24px/1 'Open Sans', sans-serif;
  margin: 1px 0 13px;
}

.main_text
{
  width: 570px;
  margin: 0;
  float: right;
}

.favourites
{
  width: 330px;
  margin: 0;
  float: left;
}

.rectangle
{
  width: 60px;
  height: 7px;
  margin: 0 0 42px;
  background: url('../images/rectangle.png') no-repeat;
}

.text
{
  font: 19px/32px Georgia;
  color: #555;
  margin: 0 0 47px;
}

.hobbies_heading
{
  font: 400 36px/1 'Open Sans', sans-serif;
  color: #333;
  margin: 0 0 18px -3px;
}

.favourites ul,
.favourites ol
{
  margin: 0 0 46px -1px;
}

.reference
{
  display: block;
  padding: 31px 0 0 1px;
  font: 19px/1.2 Georgia;
  text-decoration: none;
  color: #15a98c;
}

.photo
{
  width: 330px;
  height: 350px;
  margin: 0;
  float: left;
  border-radius: 5px;
}

.list li
{
  font: 19px/36px Georgia;
  color: #555;
  margin: 0 0 0 -16px;
}